
  @import url('https://fonts.googleapis.com/css?family=Muli:300,700|Nunito');
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

  * {
    margin: 0px;
    padding: 0px;
  }

  body {
    background: white;
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
  }

  h1,h2,h3,h4,h5,h6 {
    font-family: 'Poppin', sans-serif;
    font-weight: 700;
    line-height: inherit;
  }

  h1 {
    color: white;
    width: auto;
    font-size: 4em;
    line-height: normal;
    margin-top: 45%;
    letter-spacing: 8px;
    font-family: 'Poppin', sans-serif;
    text-transform: uppercase;
  }

  h2 {
    color: #353535;
    font-size: 2em;
    padding-bottom: 10px;
  }

  h3 {
    font-size: 1.5em;
    margin-bottom: 0;
    color:  rgb(51, 48, 44);
  }

  p {
    color: #757575;
    font-size: 15px;
    font-weight: normal;
    line-height: 24px;
  }

  .html{
    -webkit-font-smoothing: antialiased;
  }

  ::-webkit-scrollbar{
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #000000;
  }

  .section-title {
    padding-bottom: 40px;
  }

  .section-title h2 {
    margin: 0;
  }

  .section-title small {
    display: block;
  }

  .overlay {
    background: rgba(20,20,20,0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  section {
    position: relative;
    padding: 100px 0;
  }


  /*---------------------------------------
     BUTTONS               
  -----------------------------------------*/

  .section-btn {
    background: transparent;
    border-radius: 50px;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: inherit;
    font-weight: 700;
    padding: 15px 30px;
    transition: 0.5s;
  }

  .section-btn:hover {
    background: palevioletred;
    border-color: transparent;
    color: white;
  }



  /*---------------------------------------
       PRE LOADER              
  -----------------------------------------*/

  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #ffffff;
  }

  .spinner {
    border: 1px solid transparent;
    border-radius: 3px;
    position: relative;
  }

  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45px;
    height: 45px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 1px solid #575757;
    border-top-color: #ffffff;
    animation: spinner .9s linear infinite;
  }

  @-webkit-@keyframes spinner {
    to {transform: rotate(360deg);}
  }

  @keyframes spinner {
    to {transform: rotate(360deg);}
  }

  /*---------------------------------------
      MENU              
  -----------------------------------------*/

  .custom-navbar {
    background: #ffffff;
    border-top: 5px solid palevioletred;
    border-bottom: 0;
    -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    padding: 12px 0;
    margin-bottom: 0;
    padding: 0;
  }

  .custom-navbar .navbar-brand {
    color: #454545;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  .custom-navbar .navbar-nav.navbar-nav-first {
    margin-left: 8em;
  }

  .custom-navbar .navbar-nav.navbar-right li a {
    padding-right: 12px;
    padding-left: 12px;
  }

  .custom-navbar .navbar-nav.navbar-right li a .fa {
    background: palevioletred;
    border-radius: 100%;
    color: #ffffff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    margin-right: 5px;
  }

  .custom-navbar .nav li a {
    line-height: 40px;
    color: #575757;
    padding-right: 22px;
    padding-left: 22px;
  }

  .custom-navbar .navbar-nav > li > a:hover,
  .custom-navbar .navbar-nav > li > a:focus {
    background-color: transparent;
  }

  .custom-navbar .nav li a:hover {
    background-color: palevioletred;
    color: #ffffff;
  }

  .custom-navbar .nav li.active > a {
    background-color: palevioletred;
    color: #ffffff;
  }

  .custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
  }

  .custom-navbar .navbar-toggle {
    background-color: transparent;
  }

  .custom-navbar .navbar-toggle .icon-bar {
    background: #252525;
    border-color: transparent;
  }

  /*---------------------------------------
      START            
  -----------------------------------------*/
  .start {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
  }

  .backgroundimg {
    background-image: url(../img/onlinepreschool3.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    margin-top: -2%;
    background-attachment: fixed;
  }

  .card-overlay {
    background: rgba(0, 0, 0, 0.3);
    height: 100vh;
  }
/*---------------------------------------
     ABOUT            
  -----------------------------------------*/
  
  .about-thumb {
    border: 1px solid #f0f0f0;
    padding: 5em 3em;
    margin-bottom: 40%;
    text-align: center;
  }

  .about-thumb span {
    background: palevioletred;
    border-radius: 50px;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 5px;
  }

  .about-thumb h3 {
    margin: 10px 0;
  }

  .backgroundimg2 {
    background-image: url(../img/onlinepreschool1.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    margin-top: -2%;
    background-attachment: fixed;
  }

  .about-thumb:hover {
    transition: ease 1s;
    transform: scale(1.1);
    background-color: rgba(253,187,45,1);
  }

  .about-thumb:hover span {
    background-color: white;
    color: palevioletred;
  }

  .card-overlay {
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
  }


  /*---------------------------------------
      UNIQUE              
  -----------------------------------------*/

  #unique figure {
    padding: 2%;
    margin: auto;
    margin-left: 20%;
    margin-right: 10%;
    height: auto;
  }

  figure:hover {
    transform: scale(1.2);
  }

  #unique figure span {
    float: left;
    margin-left: -15px;
    padding: 35px 40px;
    position: relative;
  }

  #unique figure span i {
    background: palevioletred;
    border-radius: 50px;
    color: #ffffff;
    font-size: 25px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }

  #unique {
    margin-top: 40px;
    height: auto;
    max-width: 100%;
    background-image: url(../img/onlinepreschool2.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .card-overlay {
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    margin-top: -73px;
  }


  /*---------------------------------------
      PROGRAM              
  -----------------------------------------*/

  #program {
    height: 100vh;
  }

  .program-thumb {
    background: #ffffff;
    position: relative;
    overflow: hidden;
    text-align: left;
    border-top: 1px solid #f0f0f0;
    border:solid palevioletred 1px;
    padding: 5%;
    background: #ffffff;
    color: #252020;
  }

  .program-info {
    padding: 20px 30px;
    margin-left: -10%;
    margin-right: -10%;
    text-align: center;
  }

  .img-responsive {
    opacity: 1;
    display: block;
    width: 100%;
    height: 300px;
    transition: .5s ease;
  }

  .program-info h3 {
    margin: 0;
    text-align: center;
    padding: 5%;
  }

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .text {
    background-color: palevioletred;
    color: white;
    font-size: 11px;
    max-width: 100%;
    height: auto;
    margin: auto;
    padding: 15px 25px 15px 25px;
    align-items: center;
  }

  .program-thumb:hover .img-responsive {
    opacity: 0.3;
  }

  .program-thumb:hover .middle {
    opacity: 1;
  }

  .program-thumb:hover .text {
    color: white;
  }


  /*---------------------------------------
     LOCATION            
  -----------------------------------------*/
#location {
  margin-top: -1%;
}

#location h2 {
  text-align: center;
}
  .map-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}


/*---------------------------------------
  CONTACT             
-----------------------------------------*/

#contact {
  /* FIXME: Bug or feature? */
  /* background: linear-gradient(0deg, palevioletred 38%, rgba(253,187,45,1) 100%); */
  height: auto;
  max-width: 100%;
  margin-top: 2%;
  background-attachment: fixed;
}

#contact h2 {
  color: #ffffff;
}

#contact .section-title {
  padding-bottom: 20px;
}

#contact h2 > small,
#contact p,
#contact a {
  color: #f9f9f9;
}

#contact-form {
  padding: 1em 0;
}

#contact-form .col-md-12,
#contact-form .col-md-4 {
  padding-left: 0;
}

#contact-form .form-control {
  border: 0;
  border-radius: 5px;
  box-shadow: none;
  margin: 10px 0;
}

#contact-form input {
  height: 50px;
}

#contact-form input[type='button'] {
  border-radius: 50px;
  border: 1px solid transparent;
}

#contact-form input[type='button']:hover {
  background: rgba(253,187,45,1);
  transition: ease 1s;
  transform: scale(1.1);
  border-color: #ffffff;
  color: #ffffff;
}

#contact-form #error_msg {
  color: #ffffff;
}

/*---------------------------------------
  LOGIN              
-----------------------------------------*/
.login {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

.backgroundimg3 {
  background-image: url(../img/onlinepreschool4.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  margin-top: -2%;
  background-attachment: fixed;
}

.form-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-bottom: 60px;
}

.form-container form {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
}

.form-container form h3 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #333333;
}

.form-container form input {
  width: 100%;
  padding: 10px 15px;
  font-size: 20px;
  margin: 8px 0;
  background: #eeeeee;
  border-radius: 5px;
}

.form-container form input[type='submit'] {
  border-radius: 50px;
  border: 1px solid transparent;
  background: palevioletred;
  color: #ffffff;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 20px;
}

.form-container form input[type='submit']:hover {
  background: rgba(253,187,45,1);
  border-color: #ffffff;
  color: #ffffff;
}

/*---------------------------------------
  EDIT PROFILE           
-----------------------------------------*/
.profile {
  height: 100vh;
  width: 100%;
  margin-top: -200px;
  max-width: 100%;
  max-height: 100%;
  background: whitesmoke;
}

/*---------------------------------------
  MANAGE COURSE           
-----------------------------------------*/
.manageCourse {
  height: 100vh;
  width: 100%;
  margin-top: -200px;
  max-width: 100%;
  max-height: 100%;
  background: whitesmoke;
}

/*---------------------------------------
  COURSE LIST           
-----------------------------------------*/
.courseList {
  height: 100vh;
  width: 100%;
  margin-top: -200px;
  max-width: 100%;
  max-height: 100%;
  background: whitesmoke;
}

/*---------------------------------------
  VIEW COURSE          
-----------------------------------------*/
.viewCourse {
  height: 100vh;
  width: 100%;
  margin-top: -200px;
  max-width: 100%;
  max-height: 100%;
  background: whitesmoke;
}

/*---------------------------------------
  MANAGE STUDENT           
-----------------------------------------*/
.manageStudent {
  height: 100vh;
  width: 100%;
  margin-top: -200px;
  max-width: 100%;
  max-height: 100%;
  background: whitesmoke;
}



/*---------------------------------------
  FOOTER              
-----------------------------------------*/

footer {
  background: #252020;
  padding: 50px 0;
  background-attachment: fixed;
}

footer .section-title {
  padding-bottom: 10px;
}

footer h2 {
  font-size: 20px;
}

footer a,
footer p {
  color: #909090;
}

footer strong {
  color: #d9d9d9;
}

footer address p {
  margin-bottom: 0;
}

footer .social-icon {
  margin-top: 25px;
}

.footer-info {
  margin-right: 2em;
}

.footer-info h2 {
  color: #ffffff;
  padding: 0;
}

.footer_menu h2 {
  margin-top: 2em;
}

.footer_menu ul {
  margin: 0;
  padding: 0;
}

.footer_menu li {
  display: inline-block;
  list-style: none;
  margin: 5px 10px 5px 0;
}

/*---------------------------------------
  SOCIAL ICON              
-----------------------------------------*/

.social-icon {
  position: relative;
  padding: 0;
  margin: 0;
}

.social-icon li {
  display: inline-block;
  list-style: none;
  margin-bottom: 5px;
}

.social-icon li a {
  border-radius: 100px;
  color: palevioletred;
  font-size: 15px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-decoration: none;
  text-align: center;
  transition: all 0.4s ease-in-out;
  position: relative;
  margin: 5px 5px 5px 0;
}

.social-icon li a:hover {
  background: palevioletred;
  color: #ffffff;
}

/*---------------------------------------
  RESPONSIVE STYLES              
-----------------------------------------*/

@media screen and (max-width: 1170px) {
  .custom-navbar .navbar-nav.navbar-nav-first {
    margin-left: inherit;
  }
}

@media only screen and (max-width: 992px) {
  section,
  footer {
    padding: 60px 0;
  }

.about-thumb,
.program-info,
.program-thumb,
.footer-info {
  margin-bottom: 50px;
  }
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
  .custom-navbar .nav li a {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 2.5em;
  }

  h1,h2,h3 {
    line-height: normal;
  }

  .custom-navbar {
    background: #ffffff;
    -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    text-align: center;
  }

  .custom-navbar .navbar-brand,
  .custom-navbar .nav li a {
    line-height: normal;
  }

  .custom-navbar .nav li a {
    padding: 10px;
  }

  .custom-navbar .navbar-brand,
  .top-nav-collapse .navbar-brand {
    color: #252525;
    font-weight: 600;
  }

  .custom-navbar .nav li a,
  .top-nav-collapse .nav li a {
    color: #575757;
  }

  .custom-navbar .navbar-nav.navbar-right li {
    display: inline-block;
  }

  .footer-info {
    margin-right: 0;
  }
}


@media only screen and (max-width: 580px) {
  h2 {
    font-size: 1.8em;
  }
}


@media only screen and (max-width: 480px) {
  h1 {
    font-size: 2em;
  }

  #start h3 {
    font-size: 14px;
  }
}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}